name: go-winfsp

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version-file: go.mod

      - name: "install winfsp"
        shell: powershell
        run: |
          winget install --id=WinFsp.WinFsp --source=winget

      - name: "run tests"
        run: |
          go test ./...
